*{
    text-decoration: none;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header{
    margin-bottom: 3em;
    background-color: #B2DBD3A3;
    justify-content: flex-end;
    height: 5em;
    box-shadow: 0 4px 15px;
}

header ul{
    display: flex;
    font-weight: bold;
    color: black;
    justify-content: flex-end;
    padding: 1.7em 0.5em 0 0;
}

li{
    list-style-type: none;
    margin-left: 1em;
}

/*Cuerpo*/