*{
    text-decoration: none;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header{
    margin-bottom: 3em;
    background-color: #B2DBD3A3;
    justify-content: flex-end;
    height: 5em;
    box-shadow: 0 4px 15px;
}

header ul{
    display: flex;
    font-weight: bold;
    color: black;
    justify-content: flex-end;
    padding: 1.7em 0.5em 0 0;
}

li{
    list-style-type: none;
    margin-left: 1em;
}

/*Cuerpo*/
.container{
    display: flex;
    height: 20em;
    justify-content: center;
    flex-wrap: wrap;
    text-transform: uppercase;
    font-style: italic;
    border: 3px solid black;
    margin-bottom: 1em;
    position: relative;
}

.container a{
    margin: 2em;
}

.front{
    display: flex;
}

.front p{
    transform: rotate(90deg);
    color: black;
    height: 15px;
    width: auto;
    margin: 5em 0 0 0;
    font-weight: bold;
}

img{
    width: 250px;
    height: 250px;
}

.name{
    margin: 1em 0 0 0;
}